* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}

h2 {
  font-size: 5rem;
  font-weight: bold;
  padding: 3rem;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}

.waiting {
  height: 50vh;
}
